@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    background: var(--dark);
}

:root {
    --purple: #873EFF;
    --green: #04D361;
    --dark: #0e091b;
    --dark-200: #171228;
    --gray: #aeaeae;
    --light: #f9f9f9;
}