header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
    width: 100%;
    padding: 2rem 0;
    margin: 0 auto;
}

.logo {
    cursor: pointer;
}

.content__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 92px;
    text-transform: uppercase;
}

.content__links span {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--light);
    font-family: 'DM Sans', sans-serif;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.content__links button {
    width: 248px;
    height: 62px;
    border-radius: 6px;
    border: 1px solid var(--purple);
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;

    background: var(--dark);
    color: var(--light);

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.content__links span:hover {
    color: var(--purple);
}

.content__links button:hover {
    background: var(--dark-200);
}

@media screen and (max-width: 1050px) {
    .content__links span {
        display: none;
    }

    .content__links {
        gap: 0;
    }
}

@media screen and (max-width: 770px) {
    header {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}